body {
    /* background-image: linear-gradient(174.2deg, #fff4e4 7.1%, #f0f6ee 67.4%); */
}

html,
body {
    overflow-x: hidden;
}

@media (min-width: 640px) {
    ::-webkit-scrollbar {
        background: hsl(0, 0%, 10%);
        width: 0.75rem;
    }

    ::-webkit-scrollbar-thumb {
        background: hsl(0, 0%, 15%);
        border-radius: 1rem;
    }
}
