@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-image: linear-gradient(
        174.2deg,
        rgb(247, 247, 247) 7.1%,
        rgb(239, 239, 239) 67.4%
    );

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.25;
}

html,
body {
    overflow-x: hidden;
}

@media (min-width: 640px) {
    ::-webkit-scrollbar {
        background-image: linear-gradient(
            -174.2deg,
            rgb(247, 247, 247) 7.1%,
            rgb(239, 239, 239) 67.4%
        );
        width: 0.75rem;
    }

    ::-webkit-scrollbar-thumb {
        background: hsl(0, 0%, 75%);
        border-radius: 1rem;
    }
}
